		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<section>
					<h3>Location</h3>
					<p><a href="/location.html">44480 W Honeycutt Rd #107</a><br />
					   Maricopa, AZ 85138</p>
					<p>Same plaza as Honeycutt Coffee</p>
				</section>
			</section>
			<section>
					<h3>Schedule</h3>
					<p>Sunday, 11:00 AM & 6:30PM<br />
					   Wednesday, 7:00 PM </p>
					<p>Prayer Meetings<br />
						Monday-Saturday, 7-8 AM<br />
						& 1 hour before evening services</p>
				</section>
				<section>
					<h3>Phone</h3>
					<p>{{ site.phone }}</p>
					<h3>Email</h3>
					<p>{{ site.email }}</p>
					<h3><a href="/credits.html">Credits</a></h3>
				</section>
			</section>
		</footer>
		<div id="copyright"> 
		</div>
		</div>

		<!-- Scripts -->
		<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/main.js" | absolute_url }}"></script>