		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<section>
					<h3>Morning Worship</h3>
					<p>at <a href="/santa-cruz.html">Santa Cruz Elementary</a><br />
					   Sunday, 11:00 AM</p>
				</section>
			</section>
			<section>
					<h3>Evening Services</h3>
					<p>at <a href="/aplus.html">A+ Charter School</a><br />
					   Sunday, 6:30 PM <br />
					   Prayer, 5:30 PM</p>
					<p>Wednesday, 7:00 PM <br />
					   Prayer, 6:00 PM</p>
				</section>
				<section>
					<h3>Phone</h3>
					<p>{{ site.phone }}</p>
					<h3>Email</h3>
					<p>{{ site.email }}</p>
					<h3><a href="/credits.html">Credits</a></h3>
				</section>
			</section>
		</footer>
		<div id="copyright"> 
		</div>
		</div>

		<!-- Scripts -->
		<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/main.js" | absolute_url }}"></script>