<head>
		<title>{{ site.title }} - {{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
		<noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>
		<script>
			window.nucleusLauncherSettings = {
			  flowId: '4e7ab41bdcc1b8abd5cd',
			};
			(function (l, a, u, n, c, h) {
			  u = a.createElement('script');
			  u.type = 'text/javascript';
			  u.async = true;
			  u.src = 'https://launcher.nucleus.church/boot.latest.js';
			  n = a.getElementsByTagName('script')[0];
			  n.parentNode.insertBefore(u, n);
			})(window, document);
		</script>
</head>
